<style type="text/css">
	md-list-item.md-3-line > .md-no-style {
		height: auto; 
		min-height: 50px;
	}
</style>


<div style=" width:100%; height:100%" flex>
	<div layout="column" flex>
	    <md-toolbar flex layout="row" layout-align="start center" style="background-color: #7D7D7D" ng-show="!showSearch">

	        <md-button  flex="5" hide-gt-sm ng-click="openLeftMenu()" aria-label="Menu">
	            <md-icon  md-svg-icon='img/ic_menu_24px.svg'></md-icon>
	        </md-button>

	        <md-button flex="5" hide-sm show-gt-sm aria-label="Settings" ng-click="openLeftMenu()">
	            <md-icon hide-sm  md-svg-icon='img/ic_menu_24px.svg'></md-icon>
	        </md-button>
	        <div flex > <span> Disaster Forecast</span></div>
	        <md-button flex="10 " show-gt-smclass="toolbar-button" aria-label="Search" ng-click="showSearch = !showSearch">
	            <md-icon md-svg-icon='img/ic_search_24px.svg'></md-icon>             
	        </md-button> 
	    </md-toolbar>
	</div>
	<md-toolbar class="md-hue-1" ng-show="showSearch" style="background-color:white">
        <div class="md-toolbar-tools">
          <md-button flex="5"  ng-click="showSearch = !showSearch" aria-label="Back">
             <md-icon style="color:black" md-svg-icon='img/ic_arrow_back_24px.svg'></md-icon>
          </md-button>           
          <md-input-container md-theme="input" flex style="height: 33px;">       
         	<input ng-model="search.who" placeholder="search">
          </md-input-container>
          <md-button flex="5" aria-label="Search" ng-click="showSearch = !showSearch">
            <md-icon  style="color:black" md-svg-icon='img/ic_search_24px.svg'></md-icon>
          </md-button>
          <div flex="20"></div>
        </div>
       
    </md-toolbar>
 
	<md-sidenav md-component-id="left" md-is-open="isSidenavOpen" class="md-sidenav-left">
    

	            <md-divider></md-divider>
				<md-list>
	                <md-list-item class="md-3-line" ng-repeat="item in wetherConditions"  style="min-height: 10px;">
	                	<md-icon md-svg-icon="{{item.icon}}" style="width:10px; height:10px"></md-icon>
	                   <div class="md-list-item-text" layout="column">
	                      <h3>{{item.name}}</h3> 
	                   </div>
	                   <md-checkbox ng-model="item.checkbox" aria-label="weather conditions">
					   </md-checkbox> 	
	                </md-list-item>

		            <md-divider></md-divider>
		            <md-list-item class="md-3-line"   style="min-height: 10px;">
		            	<md-icon md-svg-icon="img/rain.svg"></md-icon>	            	
			            <div class="md-list-item-text" layout="column" ng-click="moveToDashboard()">
			             	<h3>Dashboard</h3>	
			             </div>
		            </md-list-item>
	            </md-list>

	            <md-divider></md-divider>
     </md-sidenav>
     	<div ng-show="showSrilankaMap">

     		<div  layout="row" layout-align="center center" flex style="margin-top: 50px;">
     		<div flex="30"></div>
     		<div flex id="mapdiv" style="width: 900px; height: 700px;"></div>
	     	</div>

	     	<div style="background-color:white; z-index: 0;  position: relative; width: 120px; height: 15px;left: 410px;top: -15px;">
	     	</div>
	     	<div style="background-color:white; z-index: 0;  position: relative;width: 30px;height: 120px;left: 417px;top: -710px;">     		
	     	</div>
     	</div>
     	<div ng-show="showDistrict"  layout="row" layout-align="center center" flex>
     		<div flex="20"></div>
     		<div flex>
     			<md-icon md-svg-src = 'img/districts/{{districtName}}'  flex style="width: 600px; height: 600px;"></md-icon>
     		</div>
     	</div>
     	
</div>