<md-dialog style="max-width:960px;"  >
   <md-toolbar class="modal-header">
      <div class="md-toolbar-tools">
         <h2>Chart Category</h2>
         <span flex></span>
         <md-button href class="md-icon-button" ng-click="closeDialog()">
            <md-icon md-svg-src="img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
         </md-button>
      </div>
   </md-toolbar>
   <md-dialog-content style="width:560px;">
    <div ng-show="showType">
         <div layout-gt-sm="row"> 
            <div flex ='25'></div>
            <md-input-container class="md-block" flex-gt-sm >
               <label>Select Chart Type</label>
               <md-select  ng-model="chartType" flex >
                  <md-optgroup label="Chart types">
                  <md-option value="barCharts"> Bar charts</md-option>
                  <md-option value="pieCharts"> Pie charts</md-option>
                  <md-option value="lineCharts"> Line charts</md-option>
               </md-select>
            </md-input-container> 

         </div>                        
      </div>
      <div ng-show="showBar">
         <div layout-gt-sm="row"> 
            <div flex ='25'></div>
            <md-input-container class="md-block" flex-gt-sm >
               <label>Y Axsis</label>
               <md-select  ng-model="yAxsis" flex>
                  <md-optgroup label="Y Axsis">
                  <md-option value="1"> 1 Scale</md-option>
                  <md-option value="2"> 2 Scale</md-option>
                  <md-option value="3"> 3 Scale</md-option>
               </md-select>
            </md-input-container> 
         </div>
         <div layout-gt-sm="row">  
            <md-radio-group ng-model="XAxsis" flex ng-change="chngeBtn = !chngeBtn">
               <div layout-gt-sm="row"> 
                  <div flex ='25'></div> 
                  <md-radio-button flex value="Months" class="md-primary">Months</md-radio-button>
                  <md-radio-button flex value="Years" class="md-primary">Years</md-radio-button>
               </div>                
            </md-radio-group>
         </div> 

        
         <div layout-gt-sm="row" ng-show="chngeBtn"> 
            <div flex ='25'></div>
             <md-input-container flex class="md-block" flex-gt-sm >
               <label>Months</label>
               <md-select  ng-model="XAxsisAddition" flex>
                  <md-optgroup label="Months">
                  <md-option value="January">January</md-option>
                  <md-option value="February">February</md-option>
                  <md-option value="March">March</md-option>
                  <md-option value="April">April</md-option>
                  <md-option value="May">May</md-option>
                  <md-option value="June">June</md-option>
                  <md-option value="July">July</md-option>
                  <md-option value="August">August</md-option>
                  <md-option value="Semtember">Semtember</md-option>
                  <md-option value="October">October</md-option>
                  <md-option value="November">November</md-option>
                  <md-option value="December">December</md-option>
               </md-select>
            </md-input-container>  
         </div>   


         <div layout-gt-sm="row" ng-hide="chngeBtn"> 
            <div flex ='25'></div>
            <md-input-container flex  class="md-block" flex-gt-sm >
               <label>Select Year</label>
               <md-select  ng-model="XAxsisAddition" flex>
                  <md-optgroup label="Year"> 
                  <md-option value="1906">1906</md-option>
                  <md-option value="1907">1907</md-option>
                  <md-option value="1908">1908</md-option>
                  <md-option value="1912">1912</md-option>
                  <md-option value="1913">1913</md-option>
                  <md-option value="1919">1919</md-option>
                  <md-option value="1922">1922</md-option>
                  <md-option value="1923">1923</md-option>
                  <md-option value="1925">1925</md-option>
                  <md-option value="1926">1926</md-option>
                  <md-option value="1931">1931</md-option>
                  <md-option value="1934">1934</md-option>
                  <md-option value="1936">1936</md-option>
                  <md-option value="1938">1938</md-option>
                  <md-option value="1939">1939</md-option>
                  <md-option value="1942">1942</md-option>
                  <md-option value="1945">1945</md-option>
                  <md-option value="1947">1947</md-option>
                  <md-option value="1952">1952</md-option>
                  <md-option value="1953">1953</md-option>
                  <md-option value="1955">1955</md-option>
                  <md-option value="1959">1959</md-option>
                  <md-option value="1960">1960</md-option>
                  <md-option value="1961">1961</md-option>
                  <md-option value="1963">1963</md-option>
                  <md-option value="1965">1965</md-option>
                  <md-option value="1966">1966</md-option>
                  <md-option value="1968">1968</md-option>
                  <md-option value="1970">1970</md-option>
                  <md-option value="1973">1973</md-option>
                  <md-option value="1977">1977</md-option>
                  <md-option value="1978">1978</md-option>
                  <md-option value="1980">1980</md-option>
                  <md-option value="1982">1982</md-option>
                  <md-option value="1983">1983</md-option>
                  <md-option value="1986">1986</md-option>  
                  <md-option value="1992">1992</md-option>
                  <md-option value="1994">1994</md-option>
                  <md-option value="2000">2000</md-option>
                  <md-option value="2005">2005</md-option>                         
                  <md-option value="2006">2006</md-option>
                  <md-option value="2007">2007</md-option>
                  <md-option value="2008">2008</md-option>
                  <md-option value="2009">2009</md-option>
                  <md-option value="2010">2010</md-option>
                  <md-option value="2011">2011</md-option>
                  <md-option value="2012">2012</md-option>
                  <md-option value="2013">2013</md-option>
                  <md-option value="2014">2014</md-option>
                  <md-option value="2015">2015</md-option>
                  <md-option value="2016">2016</md-option>
                  <md-option value="2017">2017</md-option>
               </md-select>
            </md-input-container> 
         </div>        
      </div>

      <div ng-show="barAdditional">
         <div layout-gt-sm="row"> 
            <div flex ='25'></div>
            <md-input-container class="md-block" flex-gt-sm >
               <label>District</label>
               <md-select  ng-model="District" flex>
                  <md-optgroup label="District">
                  <md-option value="Anuradhapura">Anuradhapura</md-option>
                  <md-option value="Badulla">Badulla</md-option>
                  <md-option value="Batticaloa">Batticaloa</md-option>
                  <md-option value="Colombo">Colombo</md-option>
                  <md-option value="Galle">Galle</md-option>
                  <md-option value="Hambantota">Hambantota</md-option>
                  <md-option value="Jaffna">Jaffna</md-option>
                  <md-option value="Katugastota">Katugastota</md-option>
                  <md-option value="Katunayake">Katunayake</md-option>
                  <md-option value="Kurunegala">Kurunegala</md-option>
                  <md-option value="Maha illupalama">Maha illupalama</md-option>
                  <md-option value="Mannar">Mannar</md-option>
                  <md-option value="Mattala">Mattala</md-option>
                  <md-option value="Monaragala">Monaragala</md-option>
                  <md-option value="NuwaraEliya">NuwaraEliya</md-option>
                  <md-option value="Polonnaruwa">Polonnaruwa</md-option>
                  <md-option value="Pottuvil">Pottuvil</md-option>
                  <md-option value="Puttalama">Puttalama</md-option>
                  <md-option value="Ratmalana">Ratmalana</md-option>
                  <md-option value="Ratnapura">Ratnapura</md-option>
                  <md-option value="Kaluthara">Kaluthara</md-option>
                  <md-option value="Trincomalee">Trincomalee</md-option>
                  <md-option value="Vavniya">Vavniya</md-option>
               </md-select>
            </md-input-container> 
         </div>

         <div layout-gt-sm="row"> 
            <div flex ='25'></div>
            <md-input-container class="md-block" flex-gt-sm >
               <label>Scale 1</label>
               <md-select  ng-model="Scale1" flex>
                  <md-optgroup label="Scale 1">
                  <md-option value="Rainfall">Rainfall</md-option>
                  <md-option value="Temparature">Temparature</md-option>
                  <md-option value="Humidity">Humidity</md-option>
                  <md-option value="wind">wind</md-option>
               </md-select>
            </md-input-container>  
         </div>
         <div layout-gt-sm="row"  ng-if="chartDetails.scaleNum == '3' || chartDetails.scaleNum == '2'" >  
            <div flex ='25'></div>
            <md-input-container  class="md-block" flex-gt-sm >
               <label>Scale 2</label>
               <md-select  ng-model="$parent.Scale2" flex>
                  <md-optgroup label="Scale 2">
                  <md-option value="Rainfall">Rainfall</md-option>
                  <md-option value="Temparature">Temparature</md-option>
                  <md-option value="Humidity">Humidity</md-option>
                  <md-option value="wind">wind</md-option>
               </md-select>
            </md-input-container>
         </div> 
         <div layout-gt-sm="row"  ng-if="chartDetails.scaleNum == '3'">  
            <div flex ='25'></div>
            <md-input-container class="md-block" flex-gt-sm >
               <label>Scale 3</label>
               <md-select  ng-model="$parent.Scale3" flex>
                  <md-optgroup label="Scale 3">
                  <md-option value="Rainfall">Rainfall</md-option>
                  <md-option value="Temparature">Temparature</md-option>
                  <md-option value="Humidity">Humidity</md-option>
                  <md-option value="wind">wind</md-option>
               </md-select>
            </md-input-container> 
         </div> 
        <!--  <div layout-gt-sm="row"> 
            <div flex ='25'></div>
            <md-checkbox md-no-ink aria-label="Checkbox No Ink" flex ng-model="weather" class="md-primary">
               Rainfall
            </md-checkbox>
            <md-checkbox md-no-ink aria-label="Checkbox No Ink" flex ng-model="weather2" class="md-primary">
               Temparature
            </md-checkbox>
         </div> 
         <div layout-gt-sm="row"> 
            <div flex ='25'></div>
            <md-checkbox md-no-ink aria-label="Checkbox No Ink" flex ng-model="weather3" class="md-primary">
               Humidity
            </md-checkbox>
            <md-checkbox md-no-ink aria-label="Checkbox No Ink" flex ng-model="weather4" class="md-primary">
               wind
            </md-checkbox>
         </div>  -->       

      </div>


       <div ng-show="showPie">
         <div layout-gt-sm="row"> 
            <div flex ='25'></div>
            <md-input-container class="md-block" flex-gt-sm >
               <label>Select Year</label>
               <md-select  ng-model="pieYear" flex>
                  <md-optgroup label="Year"> 
                  <md-option value="1906">1906</md-option>
                  <md-option value="1907">1907</md-option>
                  <md-option value="1908">1908</md-option>
                  <md-option value="1912">1912</md-option>
                  <md-option value="1913">1913</md-option>
                  <md-option value="1919">1919</md-option>
                  <md-option value="1922">1922</md-option>
                  <md-option value="1923">1923</md-option>
                  <md-option value="1925">1925</md-option>
                  <md-option value="1926">1926</md-option>
                  <md-option value="1931">1931</md-option>
                  <md-option value="1934">1934</md-option>
                  <md-option value="1936">1936</md-option>
                  <md-option value="1938">1938</md-option>
                  <md-option value="1939">1939</md-option>
                  <md-option value="1942">1942</md-option>
                  <md-option value="1945">1945</md-option>
                  <md-option value="1947">1947</md-option>
                  <md-option value="1952">1952</md-option>
                  <md-option value="1953">1953</md-option>
                  <md-option value="1955">1955</md-option>
                  <md-option value="1959">1959</md-option>
                  <md-option value="1960">1960</md-option>
                  <md-option value="1961">1961</md-option>
                  <md-option value="1963">1963</md-option>
                  <md-option value="1965">1965</md-option>
                  <md-option value="1966">1966</md-option>
                  <md-option value="1968">1968</md-option>
                  <md-option value="1970">1970</md-option>
                  <md-option value="1973">1973</md-option>
                  <md-option value="1977">1977</md-option>
                  <md-option value="1978">1978</md-option>
                  <md-option value="1980">1980</md-option>
                  <md-option value="1982">1982</md-option>
                  <md-option value="1983">1983</md-option>
                  <md-option value="1986">1986</md-option>  
                  <md-option value="1992">1992</md-option>
                  <md-option value="1994">1994</md-option>
                  <md-option value="2000">2000</md-option>
                  <md-option value="2005">2005</md-option>                         
                  <md-option value="2006">2006</md-option>
                  <md-option value="2007">2007</md-option>
                  <md-option value="2008">2008</md-option>
                  <md-option value="2009">2009</md-option>
                  <md-option value="2010">2010</md-option>
                  <md-option value="2011">2011</md-option>
                  <md-option value="2012">2012</md-option>
                  <md-option value="2013">2013</md-option>
                  <md-option value="2014">2014</md-option>
                  <md-option value="2015">2015</md-option>
                  <md-option value="2016">2016</md-option>
                  <md-option value="2017">2017</md-option>
               </md-select>
            </md-input-container> 
         </div>
          <div layout-gt-sm="row"> 
            <div flex ='25'></div>
            <md-input-container class="md-block" flex-gt-sm >
               <label>District</label>
               <md-select  ng-model="District" flex>
                  <md-optgroup label="District">
                  <md-option value="Colombo">Colombo</md-option>
                  <md-option value="Galle">Galle</md-option>
                  <md-option value="Kaluthara">Kaluthara</md-option>
               </md-select>
            </md-input-container> 
         </div>
         <md-radio-group ng-model="group1">
            <div layout-gt-sm="row"> 
               <div flex ='25'></div> 
               <md-radio-button flex value="Rainfall" class="md-primary">Rainfall</md-radio-button>
               <md-radio-button flex value="Temparature" class="md-primary"> Temparature </md-radio-button>
            </div> 
            <div layout-gt-sm="row"> 
               <div flex ='25'></div> 
               <md-radio-button flex value="Humidity" class="md-primary">Humidity</md-radio-button>
               <md-radio-button flex value="wind" class="md-primary"> wind </md-radio-button>
            </div>
      
         </md-radio-group>

                       
      </div>

   </md-dialog-content>
   <div class="md-actions" layout="row"  ng-show="showType">
      <md-button href ng-click="changeChartTypes(chartType)" class="md-primary">Next</md-button>
      <md-button href ng-click="closeDialog()" class="md-primary">Cancel</md-button>
   </div> 
   <div class="md-actions" layout="row" ng-show="showBar">
      <md-button href ng-click="barAddition()" class="md-primary">Next</md-button>
      <md-button href ng-click="closeDialog()" class="md-primary">Cancel</md-button>
   </div> 
   <div class="md-actions" layout="row" ng-show="showPie">
      <md-button href ng-click="pieAll()" class="md-primary">Next</md-button>
      <md-button href ng-click="closeDialog()" class="md-primary">Cancel</md-button>
   </div> 
   <div class="md-actions" layout="row" ng-show="barAdditional">
      <md-button href ng-click="barAll()" class="md-primary">Next</md-button>
      <md-button href ng-click="closeDialog()" class="md-primary">Cancel</md-button>
   </div> 

</md-dialog>