<style type="text/css">
	div.inline { float:left; }
	.clearBoth { clear:both; } 

  .chart-bottom{
    margin-top : 30px;
  }
  .chart-normal{    
    margin-top : 0px;
  }
</style> 

<div flex style="margin-left: 40px; width:98%" id="canvas">

  <md-whiteframe  class="md-whiteframe-7dp" flex layout layout-align="center center" ng-repeat="item in dashboardChrts"
  style="margin-left:30px; display:inline-block" ng-class="{'chart-bottom' : $index >= 2, 'chart-normal': $index < 2}">
    <div layout="column" flex>
        <div layout="row" layout-align="start center" flex style="background-color: white;">   
          <div flex="80" layout="row" layout-align="center center">
              <span  class="chart-header">
                {{item.chartTitle}}
              </span>
          </div>            
          <md-button  ng-click="removeChart($index)"  flex style="z-index:0">
              <md-icon  md-svg-icon='img/ic_cancel_24px.svg' style="padding-left: 72px;"></md-icon>
          </md-button>
        </div>  
        <div flex >
          <highchart flex ng-show="item.showChart" id="chart1" config="item.highchartsNG" style=" width:600px;height:370px;"></highchart>
        </div>       
          
    </div>
  </md-whiteframe>
</div>