
<div layout="column" flex>
    <md-toolbar layout="row" layout-align="end center" style="height: 70px; background-color: #38373a;padding-top: 7px;" ng-show="!showSearch">
          <md-button  flex="5" hide-gt-sm ng-click="openLeftMenu()" aria-label="Menu">
              <md-icon  md-svg-icon='img/ic_menu_24px.svg'></md-icon>
          </md-button> 
          <div flex style="margin-left: 40px;"> 
            <span class="font-Roboto main-header-forecast"> 
            <i class="fa fa-tint" aria-hidden="true"></i>
              Disaster Forecast
           </span>
          </div>   

           <i flex="5" style="cursor:pointer; outline:none" class="fa fa-line-chart custom" ng-click="toggleRightSidebar()"></i>
           <i flex="5" style="cursor:pointer; outline:none" class="fa fa-floppy-o" aria-hidden="true"></i>
             
    </md-toolbar>

    <md-toolbar class="md-hue-1" ng-show="showSearch" style="background-color:white">
        <div class="md-toolbar-tools">
          <md-button flex="20"  ng-click="showSearch = !showSearch" aria-label="Back">
             <md-icon style="color:black" md-svg-icon='img/ic_arrow_back_24px.svg'></md-icon>
          </md-button>           
          <md-input-container md-theme="input" flex style="height: 33px;">       
         	<input ng-model="search.who" placeholder="search">
          </md-input-container>
          <md-button flex="20" aria-label="Search" ng-click="showSearch = !showSearch">
            <md-icon  style="color:black" md-svg-icon='img/ic_search_24px.svg'></md-icon>
          </md-button>
        </div>       
      </md-toolbar>

    <md-content flex class="md-padding page-content">
        <md-sidenav flex md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2 md-sidenav-left" style="position: fixed;left: 0px;background: #f5f5f5;min-width:50px; max-width:50px;top: 70px;">   
         <md-button style="height: 60px;" ng-repeat="item in menuItems" type='button' aria-label='Open demo menu' 
         class='md-icon-button' ui-sref="{{item.state}}">
             <md-icon md-svg-icon='{{item.icon}}'></md-icon>
          </md-button>
        </md-sidenav>
        <div ui-view flex></div>
    </md-content>
</div>