<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
            class="md-whiteframe-z2 md-sidenav-left" 
            style="position: absolute;left: 0px; background: #f5f5f5;min-width:50px; max-width:50px;">
 
       <md-button style="height: 60px;" ng-repeat="item in menuItems" type='button' aria-label='Open demo menu' 
       class='md-icon-button' ui-sref="{{item.state}}">
           <md-icon md-svg-icon='{{item.icon}}'></md-icon>
        </md-button>
</md-sidenav>

	<md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column" style="margin-left: 30px">
	<div id="map"> 
		maps
	</div>

	<div id="mapdiv" style="width: 600px; height: 400px;"></div>
	
	 <!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdI4iUYUqLLtBY-YXXvHlFXYvQiYU7Sz8&callback=initMap"
    async defer></script -->
	</md-content>