
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<div class="digin-lgn-wrap  animated">
    <toast></toast>
    <div class="auth-message-wrap"
         ng-if="error.isLoading">
        <div class="loader-body-wrap">
            <span class="loader2"><span class="loader2-inner"></span></span>
        </div>
    </div>
    <div layout="column" layout-align="center center">

        <div class="digin-login-card animated flipInY">
            <div layout="row" layout-xs="column">
                <div flex="45">
                    <div class="left-main-wrap ">
                        <div class="left-wrap signup">
                            <ul class="bg-bubbles">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="login-logo sign-up border-white-5">
                                <img src="styles/css/images/signup-user.png"
                                     align="center">
                            </div>
                            <span class="login-welcome">
                               Sign up now
                            </span>
                            <h5>
                                Disaster Forecast 
                            </h5>

                            <div class="welcome-link sign-in-link"
                                 ng-click="onClickSignIn()">
                                <a href="javascript:void(0)">Sign in</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div flex="55">
                    <div class="right-wrap sign-up-wrap">
                        <div class="header-login">
                            <div class="login-text-wrap pull-right ">
                                <h5 id="sliderRight">Sign Up</h5>
                            </div>
                        </div>
                        <form name="frmDiginSignUp" autocomplete="off">
                            <div class="login-bdy">
                                <div class="text-wrap ">
                                    <div>
                                        <div class="form-inline">
                                            <div class="text-domain-name full-name"
                                                 ng-class="{error:error.isFirstName,'':!error.isFirstName}">
                                                <label for="firstName">User Name</label>
                                                <div>
                                                    <input type="text" class="form-control"
                                                           id="firstName"
                                                           name="firstName"
                                                           ng-model="signUpUsr.firstName"
                                                           required
                                                           placeholder="first name">
                                                </div>
                                                <div class="ng-message" ng-messages="frmDiginSignUp.firstName.$error">
                                                    <div ng-message="required">This is required.</div>
                                                </div>
                                            </div>
                                            <div class="text-domain-name full-name"
                                                 ng-class="{error:error.nic,'':!error.nic}">
                                                <label for="nic">Nic</label>
                                                <div>
                                                    <input type="text" class="form-control"
                                                           id="nic"
                                                           name="nic"
                                                           required
                                                           ng-model="signUpUsr.nic"
                                                           placeholder="NIC">
                                                </div>
                                                <div class="ng-message" ng-messages="frmDiginSignUp.nic.$error">
                                                    <div ng-message="required">This is required.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt-box-login p-t-20"
                                             ng-class="{error:error.isEmail,'':!error.isEmail}">
                                            <label for="email">email</label>
                                            <div>
                                                <input type="email" class="form-control"
                                                       id="email"
                                                       name="email"
                                                       required
                                                       ng-pattern="regex.email"
                                                       ng-model="signUpUsr.email"
                                                       placeholder="jane.doe@example.com">
                                            </div>
                                            <div class="ng-message" ng-messages="frmDiginSignUp.email.$error">
                                                <div ng-message="required">This is required.</div>
                                                <div ng-message="pattern">Your email address is invalid</div>
                                            </div>
                                        </div> 
                                        <div class="txt-box-login p-t-20" ng-class="{error:error.isPassword,'':!error.isPassword}">

                                                <label for="password">password</label>
                                                <div>
                                                    <input type="password" class="form-control"
                                                           id="password"
                                                           name="password"
                                                           required
                                                           ng-model="signUpUsr.pwd"
                                                           placeholder="password">
                                                </div>
                                                <div class="ng-message"
                                                     ng-messages="frmDiginSignUp.password.$error">
                                                    <div ng-message="required">This is required.</div>
                                                </div>
                                            <div class="txt-box-login p-t-20"
                                                 ng-class="{error:error.isRetypeCnfrm,'':!error.isRetypeCnfrm}">
                                                <label for="cnfrmPwd">confirm password</label>
                                                <div>
                                                    <input type="password" class="form-control"
                                                           id="cnfrmPwd"
                                                           name="cnfrmPwd"
                                                           required
                                                           ng-model="signUpUsr.cnfrPwd"
                                                           password-verify="signUpUsr.pwd"
                                                           placeholder="confirm password">
                                                </div>
                                                <div class="ng-message"
                                                     ng-show=" frmDiginSignUp.cnfrmPwd.$invalid
                                                     && !frmDiginSignUp.cnfrmPwd.$pristine"
                                                > Password not match
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="login-btn-wrap sign-btn-wrap">
                                    <a href="javascript:void(0)"
                                       ng-click="submit()"
                                       ng-class="{disable:frmDiginSignUp.$invalid,active: !frmDiginSignUp.$invalid}"
                                       class="login-btn">
                                        sign up
                                    </a>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>